{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CRUD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}"/>
</head>
<body>
    <div id="cabeçalho">
        <h1 id="titulo"><a href="{% url 'list_itens' %}" id="titulo">Lista de itens</a></h1>
    </div>
    <br><br><br><br><br><br><br>

    <center>
    <form method="POST">
        {% csrf_token %}
        <h1 id="textoDelete">Tem certeza que deseja excluir o item <b>{{item.name}}</b>?</h1>
        <button type="submit" id='botaoDelete'>Confirmar</button>
    </form>
    </center>
</body>
</html>