{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CRUD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}"/>
</head>
<body>
    <div id="cabeçalho">
        <h1 id="titulo"><a href="{% url 'list_itens' %}" id="titulo">Lista de itens</a></h1>
    </div>
    <br><br><br><br><br><br><br>

    <center>
    <table id="tabela">
        <tr>
            <td id="colunaTabela"><b>ID</b></td>
            <td id="colunaTabela"><b>Nome</b></td>
            <td id="colunaTabela"><b>Descrição</b></td>
            <td id="colunaTabela"><b>Quantidade</b></td>
            <td id="colunaTabela"><b>Usuário</b></td>
            <td id="colunaTabela"><b>Ações</b></td>
        
            
                {% for item in itens %}
                <tr>
                    <td id="colunaTabela">
                        {{ item.id }}
                    </td>

                    <td id="colunaTabela">
                        {{ item.nome }}
                    </td>

                    <td id="colunaTabela">
                        {{ item.descrição }}
                    </td>

                    <td id="colunaTabela">
                        {{ item.quantidade }}
                    </td>

                    <td id="colunaTabela">
                        {{ item.usuário }}
                    </td>
                    <td id="colunaTabela">
                        <a href="{% url 'update_itens' item.id %}" id="icone">&#9998</a>
                        <a href="{% url 'delete_itens' item.id %}" id="icone">&#10006</a>
                    </td>
                </tr>
                {% endfor %}
        </tr>
    </table>
    </center>

    <br>
    <p id="add"><a href="{% url 'create_itens' %}" id="add">Adicionar item</a></p>
</body>
</html>